.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 720px;
  margin: auto;
}

.panel {
  flex: 1;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 6px 15px 0;
}

.panelContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
}

.loadIndicator {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 15px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 6px 15px 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.group {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f7f8;
  border-radius: 5px;
}

.groupTitle {
  margin-bottom: 15px;
  font-weight: 600;
}

.imageOptions {
  display: flex;
  margin: 20px -10px 0 -10px;
}

.imageOption {
  margin: 0 10px;
  width: 65px;
  height: 65px;
  border-radius: 5px;
  background-size: cover;
  cursor: pointer;
}

.createButton {
  display: block;
  margin-left: auto;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .wrapper {
    flex: 1;
    padding: 20px;
  }

  .panel {
    flex: initial;
    margin: 50px;
    width: 400px;
    border-radius: 15px;
  }

  .loadIndicator {
    top: 50px;
    left: calc((100% - 400px) / 2);
  }
}
